.precio {
  color: var(--color-red);
  font-weight: bold;
}

.btn-reservar {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
}
.container-img {
  max-height: 300px;
  overflow: hidden;
  border-bottom: 5px solid var(--color-red);
}
img{
  object-fit: cover;
  height: 300px;
}