<nav class="app-navbar">
  <div class="app-navbar__brand">
    <a routerLink="/"><img src="assets/img/logo.png" alt="Bailes de Salon" /></a>
  </div>

  <div class="app-navbar__menu">
    <a [routerLink]="authService.isLoggedIn() ? (isAdmin ? '/admin/eventos' : '/eventos/activos') : '/eventos/activos'" routerLinkActive="active">Eventos</a>

    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin/eventos" routerLinkActive="active">Gestión</a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn() && !isAdmin">
      <a routerLink="/clientes/misReservas" routerLinkActive="active">Mis Reservas</a>
    </ng-container>
  </div>

  <div class="app-navbar__user">
    @if (authService.isLoggedIn()) {
      <span>{{ username }}</span>
    }

    @if (!authService.isLoggedIn()) {
      <ng-container>
        <a routerLink="/login" class="btn-login">Iniciar Sesión</a>
        <a routerLink="/registro" class="btn-registro">Registro</a>
      </ng-container>
    } @else {
      <ng-container>
        <button (click)="logout()">Cerrar Sesión</button>
      </ng-container>
    }
  </div>
</nav>
