<footer class="footer">
  <div class="footer-logo">
    <img src="../../../assets/images/logo-blanco.png" alt="Logo escuela de baile" />
  </div>

  <div class="footer-links">
    <div class="footer-col">
      <h3>EVENTOS</h3>
      <a [routerLink]="['/eventos']">Eventos</a>
    </div>

    <div class="footer-col">
      <h3>AYUDA</h3>
      <a [routerLink]="['/faq']">FAQ</a>
      <a [routerLink]="['/contacto']">Contacto</a>
      <a [routerLink]="['/aviso-legal']">Aviso legal</a>
    </div>
  </div>
</footer>
