:host {
  display: flex;
  min-height: 100vh;
}

.contenido {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  &__cabecera {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}
